<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Produtos por Categoria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngFor="let produto of produtos">
    <ion-list>
        <ion-item>
          <ion-label>{{produto.nome}}</ion-label>
          <ion-button [routerLink]="['/add-carrinho/'+produto.id]" routerDirection="forward" shape="round">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>
          
        </ion-item>
    </ion-list>
      
  </div>

</ion-content>
