<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      E-Commerce
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Início</ion-card-subtitle>
        <ion-card-title>Bem Vindo ao App E-commerce</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Este App foi desenvolvido para apresentação do Trabalho da Matéria de E-commerce do curso de Pós-Graduação da UniRv.</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
